body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #000000;
}

@keyframes loading {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 800px;
  margin: 32px auto;

  &__line {
    margin-top: 32px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

    &:first-child {
      margin-top: 0;
    }

    &.form__line-2 {
      grid-template-columns: repeat(3, 1fr);
    }

    .form__wrapper {
      display: flex;
      flex-direction: column;

      &--input {
        margin-top: 8px;
        height: 32px;
        border-radius: 0;
        border: 1px solid #a1a1a1;
        padding: 0 16px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        font-weight: 400;
        color: #a1a1a1;
        outline: none;

        &::placeholder {
          color: #a1a1a1;
        }
      }

      &--success {
        margin-top: 8px;
        color: green;
        font-size: 14px;
      }

      &--error {
        margin-top: 8px;
        color: red;
        font-size: 14px;
      }
    }
  }

  &__button {
    margin: 0 auto;
    margin-top: 32px;
    height: 24px;
    width: 100%;
    max-width: 200px;
    height: 32px;
    border-radius: 0;
    border: none;
    background-color: #3f7cd6;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    text-transform: uppercase;
    cursor: pointer;
  }

  &__loading {
    max-width: 24px;
    margin: 0 auto;
    margin-top: 32px;
    animation: loading 1s linear infinite;
  }

  .form__message-wrapper--text {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}